@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
:root {
  --dark-violet: hsl(256, 26%, 20%);
  --greyish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(273, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%); 
}
* {
  box-sizing: border-box;
}

body {
  color: var(--dark-violet);
  font-family: "Karla", sans-serif;
  margin: 0 auto;
}

h2 {
  font-family: "DM Serif Display", sans-serif;
}

h2 {
  font-family:  "DM Serif Display", regular;
  font-size: 3.4em; 
  position: relative;
  letter-spacing: 2px;
  line-height: 1;
  padding-top: 50px;
}
h4 {
  color: #2C2830;
  font-size: 26px;
}
p {
  opacity: 0.8;
  
}
.btn{
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
  padding: 10px 15px;
  letter-spacing:2px;
  text-transform: uppercase;
}
a:active{
  background-color: var(--very-dark-violet);
  color: white;
}
a:hover{
  color:ver;
}

.btn-reverse {
  border-color: var(--dark-violet);
  color: var(--dark-violet);
}
.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1110px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
nav li {
  margin-left: 12px;
}
nav li a {
  color: var(--dark-grayish-violet);
  text-transform: uppercase; 
  text-decoration: none;
  font-size: 16px;
  padding: 12px 28px;
  font-family: karla;
}
.hr{
  margin-top: 900;
  margin-left: 0;
  width: 150px;
  position: absolute;
  height: 1px;
  background-color: var(--very-dark-violet);
}
.inn {
  margin-top: 70px;
  margin-left: 30px;
  margin-bottom: 90px;
  align-items: center;
}
